<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-black">Eficiencia</h1>

  </div>

  <!-- Content Row -->

  <!-- Content Row -->
  <div class="row">

    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-orange">Eficiencia</h6>

        </div>
        <!-- Card Body -->

        <div [chart]="chart"></div>

      </div>
    </div>

    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-orange">Paros</h6>

        </div>
        <!-- Card Body -->

        <div [chart]="chart2"></div>

      </div>
    </div>

    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</div>